@tailwind base;
@tailwind components;
@tailwind utilities;



.left-diagonal {
  clip-path: polygon(0 0, 100% 0, 92% 100%, 0 100%);
}

.right-diagonal {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 8% 100%);
}

.center-diagonal {
  clip-path: polygon(0 0, 100% 0, 92% 100%, 8% 100%);
}

.text-center input[type="text"] {
  text-align: center;
}

#search_input {
  font-weight: italic;
  background: #fffbc5;
  border: 1px solid #f7f7f7;
  color: #393E46;
}

#search_input:focus {
  background: #fff885;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}